<h1>Listing categories_of_certificate_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories_of_certificate_types.each do |categories_of_certificate_type| %>
  <tr>
    <td><%= categories_of_certificate_type.name %></td>
    <td><%= categories_of_certificate_type.price %></td>
    <td><%= link_to 'Show', categories_of_certificate_type %></td>
    <td><%= link_to 'Edit', edit_categories_of_certificate_type_path(categories_of_certificate_type) %></td>
    <td><%= link_to 'Destroy', categories_of_certificate_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categories of certificate type', new_categories_of_certificate_type_path %>
